body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.664),rgba(0,0,0,0.664)),url("/static/image/Camera1.jpg");
    background-size: 1190px;
    
}
header{
    font-family: Arial;
    background-size: 12px;
}
ul{
    list-style-type: none;
    float: right;
    margin-top: 20px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 30px;
    border: 1px solid transparent;
}
ul li a:hover{
    background-color: white;
    color: black;
}

h1{
    position: absolute;
    top: 50%;
    left: 25%;
    font-family: Hussar Nova;
    color: aliceblue;
}
h2{
    position: absolute;
    top: 58%;
    left: 20%;
    font-family: Century Gothic;
    color: aliceblue;
    font-style: inherit;
}
